body, html {
  height: 100%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

div.bg {
  /* The image used */
  background-image: url("title pg.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myDiv {
  position: absolute;
  left: 50%; top: 80%;
  border: #000000;
  background-color: transparent;    
  text-align: center;
   padding: 15px 15px;
}

#section2 {
  height: 105%;
  background-color: #e6f5ff;
}
#section3 {
  top: 205%;
  height: 100%;
  background-color: #ffffcc;
}


h1 {
  color: #ffffff; text-align: center; font: 80px Helvetica, sans-serif; 
}
h2 {
  color: #ffffff; text-align: center; font: 30px Helvetica, sans-serif; 
}

h3 {
  color: #1a1a1a; text-align: center; font: 28px Helvetica, sans-serif; 
}

p {
  margin-left: 1%; color: #1a1a1a; font-family: Calibri; text-align: left; font-size: 25px;
}
p1 {
     color: #ffffff; text-align: center; font: 30px Helvetica, sans-serif;
}
pL {
   color: #1a1a1a; font-family: Calibri; text-align: center; font-size: 25px;
}
t1a {  color: #001a33; text-align: center; font: 80px Helvetica, sans-serif;text-shadow: 1px 1px 4px #ffffff;
}
t1b {  color: #001a33; text-align: center; font: 40px Helvetica, sans-serif;text-shadow: 1px 1px 4px #ffffff;
}
t2a {  color: #990000; text-align: center; font: 80px Helvetica, sans-serif;text-shadow: 1px 1px 4px #ffffff;
}
t2b {  color: #990000; text-align: center; font: 40px Helvetica, sans-serif;text-shadow: 1px 1px 4px #ffffff;
}
    
.button {
  font-family: sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  text-shadow: 1px 1px 4px #000000;
}

 /* Element Positioning */

div.absolute {
  margin: 0;
    position: absolute;
    top: 6%;
    left: 25%;
    margin-right: -25%; 
  font-family: sans-serif;
  text-align: center;
  text-shadow: 1px 1px 4px #000000;
}

.subtitle1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 38%;
    margin-right: -40%; 
  font-family: sans-serif;
  text-align: center;
   text-shadow: 1px 1px 4px #000000;
}
.subtitle2{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 34%; 
  font-family: sans-serif;
  text-align: center;
}

.button2 {
   position: fixed;
    top: 2%;
    left: 2%; 
}
.button3 {
   position: fixed;
  top: 2%;
  left: 12%;
}
.button4 {
   position: fixed;
    top: 2%;
    left: 70%; 
}
.button5 {
   position: fixed;
    top: 2%;
    left: 84%; 
}
.button6 {
   position: fixed;
    top: 2%;
    left: 95%; 
}

.poems{
  Position: absolute;
  top: 110%; left: 45%;
}
.essays{
  Position: absolute;
  top: 240%; left: 5%;
}
  
.tab{
  position: fixed;
  top:100%; 
}
.essayImg{
  position: absolute;
  top:215%;
}
.endBox{
  position: absolute;
  top:305%;
  height: 30%;
  width: 100%;
  background-color: #1a1a1a;
  
}
.headingBox{
  position: absolute;
  top:0%;
  height: 30%;
  width: 100%;
  background-color: #1a1a1a;
  
}

.text{
  margin-top: 20%;
  margin-right: 15%;
  margin-left: 15%;
  background-color: #f2f2f2;
}

/* about */
.coFounder1{
  position: absolute;
  top:115%;
  margin-left: 15%;
  width: 30%;
  height: 60%;
  background-color: #f2f2f2;
}
.coFounder2{
  position: absolute;
  top:115%;
  margin-left: 55%;
  margin-right: 15%;
  width: 30%;
  height: 60%;
  background-color: #f2f2f2;
}

/* library */
.poemBox {    
position: absolute;
  top: 43%;
  left: 5%;
  height: 20%;
  width: 20%;
}
.poemExBox {    
position: absolute;
  top: 43%;
  left: 37.5%;
}
.essayBox {    
position: absolute;
  top: 43%;
  right: 5%;
}
.click {
  transition-duration: 0.5s;
  cursor: pointer;
}
.click :hover {
  box-shadow: 0 4px 8px 0 rgba(97, 59, 59, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 1);
}

/* poems & essays & explanations */

.list{
  color: #1a1a1a; font-family: Calibri; text-align: center; font-size: 30px; background-color: transparent;
}
.list :hover{
  background-color: #1a1a1a;
  color:#ffffff;
}

