body, html {
  height: 100%;
  margin: 0;
}

div.bg {
  /* The image used */
  background-image: url("title pg.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #ffffff; text-align: center; font: 80px Helvetica, sans-serif; 
}
h2 {
  color: #ffffff; text-align: center; font: 30px Helvetica, sans-serif; 
}

h3 {
  color: #000000; text-align: center; font: 28px Helvetica, sans-serif; 
}

p {
  color: black; font-family: Calibri; text-align: center; font-size: 40px;
}
p1 {
    color: navy; font-family: alberta; text-align: center; font-size: 35px;
}

.button {
  font-family: sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
}

 /* Element Positioning */

div.absolute {
  margin: 0;
    position: absolute;
    top: 6%;
    left: 25%;
    margin-right: -25%; 
  font-family: sans-serif;
  text-align: center;
}

.subtitle1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 40%;
    margin-right: -40%; 
  font-family: sans-serif;
  text-align: center;
}
.subtitle2{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 36%; 
  font-family: sans-serif;
  text-align: center;
}

.button2 {
   position: absolute;
    top: 2%;
    left: 2%; 
}
.button3 {
   position: absolute;
  top: 2%;
  left: 12%;
}
.button4 {
   position: absolute;
    top: 2%;
    left: 70%; 
}
.button5 {
   position: absolute;
    top: 2%;
    left: 84%; 
}
.button6 {
   position: absolute;
    top: 2%;
    left: 95%; 
}
