body, html {
  height: 100%;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}

div.bg {
  /* The image used */
  background-image: url("title pg.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.myDiv {
  position: absolute;
  left: 50%; top: 80%;
  border: #000000;
  background-color: transparent;    
  text-align: center;
   padding: 15px 15px;
}

#section2 {
  height: 110%;
  background-color: #e6f5ff;
}


h1 {
  color: #ffffff; text-align: center; font: 80px Helvetica, sans-serif; 
}
h2 {
  color: #ffffff; text-align: center; font: 30px Helvetica, sans-serif; 
}

h3 {
  color: #000000; text-align: center; font: 28px Helvetica, sans-serif; 
}

p {
  color: black; font-family: Calibri; text-align: center; font-size: 40px;
}
p1 {
    color: navy; font-family: alberta; text-align: center; font-size: 35px;
}
t1a {  color: #000000; text-align: center; font: 80px Helvetica, sans-serif;
}
t1b {  color: #000000; text-align: center; font: 40px Helvetica, sans-serif;
}
    
.button {
  font-family: sans-serif;
  background-color: transparent;
  border: none;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  text-shadow: 1px 1px 4px #000000;
}

 /* Element Positioning */

div.absolute {
  margin: 0;
    position: absolute;
    top: 6%;
    left: 25%;
    margin-right: -25%; 
  font-family: sans-serif;
  text-align: center;
}

.subtitle1{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 38%;
    margin-right: -40%; 
  font-family: sans-serif;
  text-align: center;
}
.subtitle2{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 34%; 
  font-family: sans-serif;
  text-align: center;
}

.button2 {
   position: fixed;
    top: 2%;
    left: 2%; 
}
.button3 {
   position: fixed;
  top: 2%;
  left: 12%;
}
.button4 {
   position: fixed;
    top: 2%;
    left: 70%; 
}
.button5 {
   position: fixed;
    top: 2%;
    left: 84%; 
}
.button6 {
   position: fixed;
    top: 2%;
    left: 95%; 
}
.R{
  Position: absolute;
  top: 101%; left: 32.6%;
}

.eflection{
  Position: absolute;
  top: 110%; left: 40%;
}
  
.tab{
  position: fixed;
  top:100%; 
}


    
