body{
    background: #3b3838; 
}
h1 {
  color: black; font-family:Calibri; text-align: center; font-size: 60px;
}
p {
  color: black; font-family: Calibri; text-align: center; font-size: 40px;
}
p1 {
    color: navy; font-family: alberta; text-align: center; font-size: 35px;
}
div{
    border: 2.5px outset darkgrey; background-color: white; text-align: center;
}
