body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("rhy.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black; font-family:Calibri; text-align: center; font-size: 60px;
}
p {
  color: black; font-family: Calibri; text-align: center; font-size: 40px;
}
p1 {
    color: navy; font-family: alberta; text-align: center; font-size: 35px;
}
div{
    background-color: white; text-align: center;
}
