body, html {
  height: 100%;
  margin: 0;
}

div.bg {
  /* The image used */
  background-image: url("title pg.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: black; font-family: sans-serif; text-align: center; font-size: 90px;
}
p {
  color: black; font-family: Calibri; text-align: center; font-size: 40px;
}
p1 {
    color: navy; font-family: alberta; text-align: center; font-size: 35px;
}
div.absolute {
  position: absolute;
  left: 300px; top: 100px;
  font family: sans-serif;
}
