body, html {
  height: 100%;
  margin: 0;
}

div.bg {
  /* The image used */
  background-image: url("title pg.png");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color: #ffffff; text-align: center; font: 80px Helvetica, sans-serif; 
}
h2 {
  color: #ffffff; text-align: center; font: 30px Helvetica, sans-serif; 
}
p {
  color: black; font-family: Calibri; text-align: center; font-size: 40px;
}
p1 {
    color: navy; font-family: alberta; text-align: center; font-size: 35px;
}

 /* Element Positioning */

div.absolute {
  position: absolute;
  left: 310px; top: 20px;
  font-family: sans-serif;
  text-align: center;
}

.subtitle1{
  position: absolute;
  top: 130px;
  font-family: sans-serif;
  text-align: center;
}
